<blockquote>
  <p>PortugalCoin was created to improve the service of the tourist sector in Portugal, using latest technology. </p>
  <footer><a href="https://www.portugalcoin.info" target="_blank">https://www.portugalcoin.info</a></footer>
</blockquote>
