<blockquote>
  <p>Ordo coin is going to next generation digitize currency, this is the future of tomorrow . Be a part of it. </p>
  <footer><a href="https://ordocoin.org" target="_blank">https://ordocoin.org</a></footer>
</blockquote>
